* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('https://wallpapercave.com/wp/wp5380884.jpg');
  backdrop-filter: brightness(40%);
  background-size: 100vmax 100vmax;
  font-family: Verdana, Geneva, Tahoma;
  font-size: 12px;
  height: 100vh;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

header {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #131313c9;
  position: fixed;
  top: 0;
  width: 100vw;
  
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu a {
  display: block;
  padding: 10px;
}

a {
  color: #FFB300;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title {
  color: whitesmoke;
  font-weight: bolder;
  text-align: center;
  font-size: 4;
}

.site-subtitle {
  color: silver;
  font-style: italic;
  font-weight: lighter;
  font-size: 2em;
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 180px;
}
