@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital@0;1&family=Fira+Code&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('../img/LuanDantas_portifolio.png');
  background-size: 100vw 90vh;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'DM Mono', monospace;
  font-size: 10px;
}

@media (min-width: 360px) {
  body {
    font-size: 10px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
}

.menu {
  background-color: #131313f6;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul{
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .menu ul{
    justify-content: flex-end;
    margin-inline-end: 7em;
  }
}

.menu li {
  border-right: 0.1px solid #FFB300;
  list-style: none;
}

.menu li:last-child {
  border-right: 0;
}

.menu a {
  color: #FFB300;
  display: block;
  font-weight: bolder;
  padding: 0.9em 2em 0.9em 2em;
  opacity: 85%;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  opacity: 100%;
}

.titles {  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 7em;
  backdrop-filter: brightness(60%);
}

.site-title {
  color: #ffffff;
  text-shadow: 0 0 0.3em rgb(0, 0, 0), 0 0 0.3em rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3em;
  font-family: 'Fira Code', monospace;
  text-align: center;
}

.site-subtitle {
  color: #f7f7f7;
  text-shadow: 0 0 0.3em rgb(0, 0, 0), 0 0 0.3em rgb(0, 0, 0);
  font-style: italic;
  font-weight: lighter;
  font-size: 2em;
  text-align: center;
  line-height: 1.8em;
}

.projetos {
  padding: 2em;
  height: 100vh;
}

.projetos h2 {
  font-size: 2.5em;
  font-weight: bolder;
  padding-left: 3.5em;
  margin-bottom: 1.5em;
}

.projetos .grid {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 2em;
  font-size: 16px;
}

@media (min-width: 360px) {
  .projetos figure {
    margin-bottom: 2em;
  }
}

@media (min-width: 560px) {
  .projetos .grid {
    grid-template-columns: 240px 240px;
    margin-block-end: 2em;
  }
}

@media (min-width: 880px) {
  .projetos .grid {
    grid-template-columns: repeat(3, 240px);
    gap: 2.7em;
    height: calc(100vh - 10em - 48px);
  }
}

.projetos figure {
  height: 180px;
  width: 240px;
}

.projetos figcaption{
  padding-left: 0.5em;
}

.img-projetos {
  height: 180px;
  width: 240px;
  object-fit: cover;
}






