@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital@0;1&family=Fira+Code&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: whitesmoke;
  font-family: 'DM Mono', monospace;
  font-size: 13px;
}

header {
  background-image: url('../img/LuanDantas_portifolio.png');
  background-repeat: no-repeat;
  background-size: 100vw 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 85vh;
}

.menu {
  background-color: #131313f6;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul{
  display: flex;
  justify-content: center;
}

.menu li {
  border-right: 0.1px solid #FFB300;
  list-style: none;
}

.menu li:last-child {
  border-right: 0;
}

.menu a {
  color: #FFB300;
  display: block;
  font-weight: bolder;
  padding: 0.5em 1.5em 0.5em 1.5em;
  transition: background-color 1s, color 1s;  
}

.menu a:hover {
  background-color: #FFB300;
  color: black;
}

a {
  color: #FFB300;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.titles {  
  backdrop-filter: brightness(60%);
}

.site-title {
  color: #ffffff;
  text-shadow: 0 0 0.3em rgb(0, 0, 0), 0 0 0.3em rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2.7em;
  font-family: 'Fira Code', monospace;
  text-align: center;
}

.site-subtitle {
  color: #f7f7f7;
  text-shadow: 0 0 0.3em rgb(0, 0, 0), 0 0 0.3em rgb(0, 0, 0);
  font-style: italic;
  font-weight: lighter;
  font-size: 2em;
  text-align: center;
  line-height: 1.8em;
}

.sobre,
.projetos,
.contato {
  min-height: 50vh;
  padding: 4em 3em 3em 3em;
}

.sobre,
.projetos {
  background-color: whitesmoke;
}

.sobre h2,
.projetos h2,
.contato h2 {
  font-size: 1.7em;
  font-weight: bolder;
  padding-left: 1em;
  margin-bottom: 1.5em;
}

.sobre .avatar {
  text-align: center;
  margin-bottom: 1em;
}

.sobre .avatar img{
  height: 360px;
  width: 360px;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 50% 100%, 0 85%);
}

.sobre p {
  color: black;
  text-indent: 2em;
  margin-bottom: 1.5em;
  text-align: justify;
}

.container ,
.projetos .grid {
  font-size: 1.2em;
}

.projetos .grid {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 2em 2em;
  margin-bottom: 2em;
}

.projetos figure {
  height: 180px;
  width: 240px;
}

.projetos figcaption{
  padding-left: 0.5em;
}

.img-projetos {
  height: 180px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.img-projetos:hover {
  transform: scale(1.2);
}

.contato {
  background-color: #005c80;
}

.contato .icons {
  margin-top: 2.5em;
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 0.5s;
}

.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.6);
}

@media (min-width: 360px) {

  .projetos figure {
    margin-bottom: 2em;
  }

}

@media (min-width: 560px) {
  .menu ul{
    justify-content: flex-end;
    margin-inline-end: 3em;
  }

  .sobre h2,
  .projetos h2,
  .contato h2  {
  margin-bottom: 0.7em;
  }

  .projetos .grid {
    grid-template-columns: 240px 240px;
    min-height: 65vh;
  }

  .contato {
    min-height: 40vh;

  }

  .contato a {
    font-size: 4.5em;
  }
}

@media (min-width: 720px) {
  .sobre .avatar {
    float: right;
    margin-left: 2.5em;
    margin-bottom: 0.5em;
  }
  
  .sobre .avatar img{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
}

@media (min-width: 880px) {
  header {
    justify-content: flex-start;
  }

  .menu ul{
    margin-inline-end: 5em;
  }

  .menu a {
    padding: 0.5em 2em 0.5em 2em;
  }

  .sobre h2,
  .projetos h2,
  .contato h2 {
    padding-left: 3em;
  }
  
  .projetos .grid {
    font-size: 1.2em;
    grid-template-columns: repeat(3, 240px);
    gap: 2.5em 1.5em;
  }

  .titles {  
    margin-left: 8em;
  }

  .contato {
    min-height: 50vh;
  }

  .contato a {
    font-size: 5.5em;
  }
}

@media (min-width: 1240px){
  .menu a {
    font-size: 1.3em;
    padding: 0.5em 2em 0.5em 2em;
  }

  .titles{
    font-size: 1.5em;
  }


  .projetos .grid {
    grid-template-columns: repeat(4, 240px);
    gap: 2.5em 2em;
    min-height: 40vh;
  }

  .sobre h2,
  .projetos h2,
  .contato h2 {
    font-size: 2.2em;
    padding-left: 1.5em;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}


